<?xml version="1.0"?>
<launch>
  <!-- 只启动立体视觉检测节点 -->
  <node pkg="stereo_vision" type="stereo_detection_node.py" name="stereo_detection_node" output="screen">
    <param name="yolo_model_path" value="yolo11n.pt"/>
    <param name="use_split_feed" value="false"/>
    <param name="left_image_topic" value="/left_camera/image_raw"/>
    <param name="right_image_topic" value="/right_camera/image_raw"/>
    <param name="auto_download" value="true"/>
  </node>
</launch> 