<?xml version="1.0"?>
<launch>
  <!-- Parameters -->
  <arg name="motor_port" default="/dev/ttyUSB0" doc="Motor control serial port" />
  <arg name="servo_port" default="/dev/ttyUSB1" doc="Servo control serial port" />
  <arg name="motor_baudrate" default="115200" doc="Motor serial baudrate" />
  <arg name="servo_baudrate" default="1000000" doc="Servo serial baudrate" />
  <arg name="use_camera" default="false" />
  <arg name="use_gui" default="false" doc="Whether to launch the GUI component" />

  <!-- Launch motor control node -->
  <include file="$(find motor)/launch/motor_control.launch">
    <arg name="port" value="$(arg motor_port)" />
    <arg name="baudrate" value="$(arg motor_baudrate)" />
  </include>

  <!-- Launch servo control node -->
  <node pkg="servo" type="wrist_node" name="wrist_node" output="screen">
    <param name="port" value="$(arg servo_port)" />
    <param name="baudrate" value="$(arg servo_baudrate)" />
  </node>

  <!-- Launch vacuum suction control node -->
  <node pkg="servo" type="vacuum_node" name="vacuum_node" output="screen">
    <param name="port" value="$(arg servo_port)" />
    <param name="baudrate" value="$(arg servo_baudrate)" />
  </node>

  <!-- Launch ARM node -->
  <node pkg="servo" type="arm_node" name="arm_node" output="screen">
    <param name="motor_port" value="$(arg motor_port)" />
    <param name="servo_port" value="$(arg servo_port)" />
    <param name="motor_baudrate" value="$(arg motor_baudrate)" />
    <param name="servo_baudrate" value="$(arg servo_baudrate)" />
  </node>

  <!-- Launch kinematics control node -->
  <node name="trajectory_node" pkg="trajectory" type="trajectory_node.py" output="screen" />

  <!-- Launch path planning node -->
  <node name="path_planner_node" pkg="trajectory" type="path_planner_node.py" output="screen" />

  <!-- Launch joint state publisher -->
  <node pkg="gui" type="joint_state_publisher_node" name="joint_state_publisher" output="screen" />

  <!-- Launch GUI interface if enabled -->
  <group if="$(arg use_gui)">
    <node pkg="gui" type="main_window" name="gui_node" output="screen" respawn="false" required="false">
      <env name="DISPLAY" value="$(optenv DISPLAY :0)" />
    </node>
  </group>

  <!-- Launch camera nodes if enabled -->
  <group if="$(arg use_camera)">
    <include file="$(find stereo_camera)/launch/stereo_camera.launch" />
    <include file="$(find visual_recognition)/launch/yolo_detection.launch" />
  </group>
</launch> 