<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="use_stereo_camera" default="true" />
  <arg name="with_stereo_vision" default="true" />
  <arg name="with_trajectory_planner" default="true" />
  <arg name="with_arm_controller" default="true" />
  <arg name="camera_device" default="/dev/video0" doc="Camera device"/>
  <arg name="start_rviz" default="false" doc="Start RViz visualization" />
  
  <!-- Start Stereo Vision Components -->
  <group if="$(arg with_stereo_vision)">
    <include file="$(find stereo_vision)/launch/stereo_cameras.launch">
      <arg name="show_preview" value="false" />
    </include>
    
    <node pkg="stereo_vision" type="stereo_vision_node" name="stereo_vision_processor" output="screen">
      <param name="enabled" value="true" />
    </node>
  </group>
  
  <!-- Start Arm Controller (servo_wrist) -->
  <group if="$(arg with_arm_controller)">
    <node pkg="servo_wrist" type="servo_wrist_node" name="arm_controller" output="screen">
      <param name="port" value="/dev/ttyUSB0" />
      <param name="baudrate" value="1000000" />
    </node>
  </group>
  
  <!-- Start Joint State Publisher for TF -->
  <node pkg="arm_gui" type="joint_state_publisher_node" name="joint_state_publisher" output="screen" />
  
  <!-- Start Trajectory Planning -->
  <group if="$(arg with_trajectory_planner)">
    <node pkg="arm_trajectory" type="arm_trajectory_node" name="kinematics_service" output="screen" />
    
    <node pkg="arm_trajectory" type="path_planner.py" name="path_planner_node" output="screen">
      <param name="arm_config" value="$(find arm_trajectory)/config/arm_params.yaml" />
    </node>
    
    <node pkg="arm_trajectory" type="trajectory_bridge_node.py" name="arm_trajectory_bridge_gui" output="screen" />
  </group>
  
  <!-- Start GUI Interface -->
  <node pkg="arm_gui" type="arm_gui_node" name="arm_gui_node" output="screen">
    <param name="update_rate" value="20" />
  </node>

  <!-- Start RViz (optional) -->
  <group if="$(arg start_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_gui)/rviz/arm_vision.rviz" />
  </group>

  <!-- Load Arm Parameters -->
  <rosparam command="load" file="$(find arm_trajectory)/config/arm_params.yaml" />
</launch> 