<?xml version="1.0"?>
<launch>
  <!-- 核心功能节点 -->
  
  <!-- 串口通信节点 -->
  <node name="serial" pkg="liancheng_socket" type="liancheng_serial" output="screen">
    <!-- 确保该节点使用ttyUSB0 -->
    <param name="port" value="/dev/ttyUSB0" />
  </node>
  
  <!-- 舵机控制节点 -->
  <node name="servo" pkg="servo_wrist" type="wrist_ctrl" args="/dev/ttyUSB1" output="screen">
    <!-- 舵机串口参数 -->
  </node>
  
  <!-- GUI节点 -->
  <node name="arm_gui" pkg="arm_gui" type="arm_gui_node" output="screen">
    <!-- GUI参数 -->
  </node>

  <!-- 简单摄像头查看器 -->
  <node pkg="image_view" type="image_view" name="image_view" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
  </node>

  <!-- USB摄像头节点 -->
  <node name="usb_cam_node" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="camera_link" />
    <param name="framerate" value="15" />
    <param name="io_method" value="mmap"/>
    <!-- 在这里重新映射话题 -->
    <remap from="/usb_cam/image_raw" to="/left_camera/image_raw" />
  </node>

</launch> 