<?xml version="1.0"?>
<launch>
  <!-- 示例动作节点 -->
  <node name="demo_actions" pkg="liancheng_socket" type="talk_test" output="screen">
    <!-- 无需参数，该节点会提供示例动作 -->
  </node>
  
  <!-- 串口通信节点 -->
  <node name="serial_comm" pkg="liancheng_socket" type="liancheng_serial" output="screen">
    <!-- 如果需要，可以添加串口参数 -->
  </node>
  
  <!-- 舵机控制节点 -->
  <node name="servo_control" pkg="servo_wrist" type="wrist_ctrl" args="/dev/ttyUSB1" output="screen">
    <!-- 舵机串口参数 -->
  </node>
</launch> 